html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table tr:hover td {
  background: #fefce7 !important;
}

.pure-table td,
.pure-table th {
  border-left: 1px solid #bebebe;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.7em 1em;
}

.pure-table td:first-child,
.pure-table th:first-child {
  border-left-width: 0;
}

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.pure-table td {
  background-color: transparent;
}

.pure-table-odd td {
  background-color: #f0f0f0;
}

.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f0f0f0;
}

.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}

.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}

.pure-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.opera-only :-o-prefocus, .pure-g {
  word-spacing: -0.43em;
}

.pure-u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-g [class*="pure-u"] {
  font-family: sans-serif;
}

.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}

.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}

.pure-u-1-8, .pure-u-3-24 {
  width: 12.5%;
  *width: 12.469%;
}

.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}

.pure-u-1-5 {
  width: 20%;
  *width: 19.969%;
}

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}

.pure-u-1-4, .pure-u-6-24 {
  width: 25%;
  *width: 24.969%;
}

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}

.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}

.pure-u-3-8, .pure-u-9-24 {
  width: 37.5%;
  *width: 37.469%;
}

.pure-u-2-5 {
  width: 40%;
  *width: 39.969%;
}

.pure-u-5-12, .pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}

.pure-u-1-2, .pure-u-12-24 {
  width: 50%;
  *width: 49.969%;
}

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}

.pure-u-7-12, .pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}

.pure-u-3-5 {
  width: 60%;
  *width: 59.969%;
}

.pure-u-5-8, .pure-u-15-24 {
  width: 62.5%;
  *width: 62.469%;
}

.pure-u-2-3, .pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}

.pure-u-3-4, .pure-u-18-24 {
  width: 75%;
  *width: 74.969%;
}

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}

.pure-u-4-5 {
  width: 80%;
  *width: 79.969%;
}

.pure-u-5-6, .pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}

.pure-u-7-8, .pure-u-21-24 {
  width: 87.5%;
  *width: 87.469%;
}

.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}

.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 {
  width: 100%;
}

@media screen and (min-width: 35.5em) {
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-2, .pure-u-sm-1-3, .pure-u-sm-2-3, .pure-u-sm-1-4, .pure-u-sm-3-4, .pure-u-sm-1-5, .pure-u-sm-2-5, .pure-u-sm-3-5, .pure-u-sm-4-5, .pure-u-sm-5-5, .pure-u-sm-1-6, .pure-u-sm-5-6, .pure-u-sm-1-8, .pure-u-sm-3-8, .pure-u-sm-5-8, .pure-u-sm-7-8, .pure-u-sm-1-12, .pure-u-sm-5-12, .pure-u-sm-7-12, .pure-u-sm-11-12, .pure-u-sm-1-24, .pure-u-sm-2-24, .pure-u-sm-3-24, .pure-u-sm-4-24, .pure-u-sm-5-24, .pure-u-sm-6-24, .pure-u-sm-7-24, .pure-u-sm-8-24, .pure-u-sm-9-24, .pure-u-sm-10-24, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-sm-1-12, .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-sm-1-8, .pure-u-sm-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .pure-u-sm-1-6, .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-sm-1-4, .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-sm-1-3, .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-sm-3-8, .pure-u-sm-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .pure-u-sm-5-12, .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-sm-1-2, .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-sm-7-12, .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .pure-u-sm-5-8, .pure-u-sm-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .pure-u-sm-2-3, .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-sm-3-4, .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .pure-u-sm-5-6, .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-sm-7-8, .pure-u-sm-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .pure-u-sm-11-12, .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-5-5, .pure-u-sm-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-2, .pure-u-md-1-3, .pure-u-md-2-3, .pure-u-md-1-4, .pure-u-md-3-4, .pure-u-md-1-5, .pure-u-md-2-5, .pure-u-md-3-5, .pure-u-md-4-5, .pure-u-md-5-5, .pure-u-md-1-6, .pure-u-md-5-6, .pure-u-md-1-8, .pure-u-md-3-8, .pure-u-md-5-8, .pure-u-md-7-8, .pure-u-md-1-12, .pure-u-md-5-12, .pure-u-md-7-12, .pure-u-md-11-12, .pure-u-md-1-24, .pure-u-md-2-24, .pure-u-md-3-24, .pure-u-md-4-24, .pure-u-md-5-24, .pure-u-md-6-24, .pure-u-md-7-24, .pure-u-md-8-24, .pure-u-md-9-24, .pure-u-md-10-24, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-md-1-12, .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-md-1-8, .pure-u-md-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .pure-u-md-1-6, .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-md-1-4, .pure-u-md-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-md-1-3, .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-md-3-8, .pure-u-md-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .pure-u-md-5-12, .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-md-1-2, .pure-u-md-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-md-7-12, .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .pure-u-md-5-8, .pure-u-md-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .pure-u-md-2-3, .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-md-3-4, .pure-u-md-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .pure-u-md-5-6, .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-md-7-8, .pure-u-md-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .pure-u-md-11-12, .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-5-5, .pure-u-md-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-2, .pure-u-lg-1-3, .pure-u-lg-2-3, .pure-u-lg-1-4, .pure-u-lg-3-4, .pure-u-lg-1-5, .pure-u-lg-2-5, .pure-u-lg-3-5, .pure-u-lg-4-5, .pure-u-lg-5-5, .pure-u-lg-1-6, .pure-u-lg-5-6, .pure-u-lg-1-8, .pure-u-lg-3-8, .pure-u-lg-5-8, .pure-u-lg-7-8, .pure-u-lg-1-12, .pure-u-lg-5-12, .pure-u-lg-7-12, .pure-u-lg-11-12, .pure-u-lg-1-24, .pure-u-lg-2-24, .pure-u-lg-3-24, .pure-u-lg-4-24, .pure-u-lg-5-24, .pure-u-lg-6-24, .pure-u-lg-7-24, .pure-u-lg-8-24, .pure-u-lg-9-24, .pure-u-lg-10-24, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-lg-1-12, .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-lg-1-8, .pure-u-lg-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .pure-u-lg-1-6, .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-lg-1-4, .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-lg-3-8, .pure-u-lg-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .pure-u-lg-5-12, .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-lg-7-12, .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .pure-u-lg-5-8, .pure-u-lg-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .pure-u-lg-2-3, .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-lg-3-4, .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .pure-u-lg-5-6, .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-lg-7-8, .pure-u-lg-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .pure-u-lg-11-12, .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-5-5, .pure-u-lg-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-2, .pure-u-xl-1-3, .pure-u-xl-2-3, .pure-u-xl-1-4, .pure-u-xl-3-4, .pure-u-xl-1-5, .pure-u-xl-2-5, .pure-u-xl-3-5, .pure-u-xl-4-5, .pure-u-xl-5-5, .pure-u-xl-1-6, .pure-u-xl-5-6, .pure-u-xl-1-8, .pure-u-xl-3-8, .pure-u-xl-5-8, .pure-u-xl-7-8, .pure-u-xl-1-12, .pure-u-xl-5-12, .pure-u-xl-7-12, .pure-u-xl-11-12, .pure-u-xl-1-24, .pure-u-xl-2-24, .pure-u-xl-3-24, .pure-u-xl-4-24, .pure-u-xl-5-24, .pure-u-xl-6-24, .pure-u-xl-7-24, .pure-u-xl-8-24, .pure-u-xl-9-24, .pure-u-xl-10-24, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-xl-1-12, .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-xl-1-8, .pure-u-xl-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }

  .pure-u-xl-1-6, .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.969%;
  }

  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-xl-1-4, .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.969%;
  }

  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-xl-1-3, .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-xl-3-8, .pure-u-xl-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }

  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.969%;
  }

  .pure-u-xl-5-12, .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-xl-1-2, .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.969%;
  }

  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-xl-7-12, .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.969%;
  }

  .pure-u-xl-5-8, .pure-u-xl-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }

  .pure-u-xl-2-3, .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-xl-3-4, .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.969%;
  }

  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.969%;
  }

  .pure-u-xl-5-6, .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-xl-7-8, .pure-u-xl-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }

  .pure-u-xl-11-12, .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-5-5, .pure-u-xl-24-24 {
    width: 100%;
  }
}
body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-repeat: repeat;
  font-family: "Noto Sans", sans-serif, Heiti SC;
  color: #5e5e5e;
}

header {
  height: 50px;
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
header .logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 7.5px;
  left: 20px;
  background-position: center;
  background-size: 100% auto;
}
header .time-lang {
  line-height: 50px;
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}
header .time-lang div {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
header .time-lang .time {
  font-size: 11px;
}
header .time-lang .lang-list {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  border: solid 1px #5e5e5e;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
  width: 90px;
  margin-top: 10px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  background-color: #f8f8f8;
  display: none;
}
header .time-lang .lang-list:hover {
  height: 180px;
}
header .time-lang .lang-list ul {
  position: absolute;
  line-height: 30px;
}
header .time-lang .lang-list ul li:hover {
  color: #000;
}
header .time-lang .lang-list .icon-arrow-down {
  width: 12px;
  height: 12px;
  float: right;
  margin-top: 8px;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}
header .time-lang .btn {
  display: inline-block;
  width: 90px;
  margin: 8px 0;
  height: 32px;
  line-height: 32px;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFF;
  width: 400px;
  border: solid 1px #bebebe;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
}
.login-form .login-head {
  background-color: #edc23e;
  color: #5e5e5e;
  font-size: 13px;
  line-height: 30px;
  text-indent: 10px;
}
.login-form .logon-input {
  width: 60%;
  position: relative;
  margin: 30px auto 50px;
}
.login-form .logon-input input[type=text],
.login-form .logon-input input[type=password] {
  font-size: 15px;
  line-height: 30px;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #5e5e5e;
  margin: 10px 0;
  width: 100%;
  background-size: auto 25px;
  background-position: 3px center;
  text-indent: 35px;
  -webkit-appearance: none;
}
.login-form .logon-input input[type=text]:focus,
.login-form .logon-input input[type=password]:focus {
  outline: none;
}
.login-form .logon-input input[name=username] {
  background-image: url("../images/icon-profile.svg");
  background-repeat: no-repeat;
}
.login-form .logon-input input[name=pass] {
  background-image: url("../images/icon-password.png");
  background-repeat: no-repeat;
}
.login-form .logon-input input[name=captcha] {
  background-image: url("../images/icon-shield.svg");
  background-repeat: no-repeat;
  width: calc(100% - 130px);
}
.login-form .logon-input input[name=phone] {
  background-image: url("../images/icon-phone.png");
  background-repeat: no-repeat;
}
.login-form .logon-input .promote {
  line-height: 2;
}
.login-form .logon-input .captcha input,
.login-form .logon-input .captcha img {
  display: inline-block;
  vertical-align: middle;
}
.login-form .logon-input .captcha img {
  width: 120px;
}

.menu-list {
  margin: 10px 0;
  min-height: calc(100vh - 475px);
}
.menu-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 40px;
}
.menu-list ul li {
  width: 80%;
  margin: auto;
}
.menu-list ul li .content {
  height: 0;
  overflow: hidden;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-list ul li .content ul {
  text-indent: 20px;
  font-size: 13px;
  line-height: 30px;
}
.menu-list ul label {
  background-size: 25px 25px;
  background-position: 8px center;
  text-indent: 40px;
  width: 100%;
  display: block;
  position: relative;
  cursor: pointer;
}
.menu-list ul label.toggle:after {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-size: 100%;
  position: absolute;
  right: 0px;
  margin-top: -23px;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.dashboard {
  background-image: url("../images/icon-dashboard.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.transfer {
  background-image: url("../images/icon-transfer.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.market {
  background-image: url("../images/icon-market.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.report {
  background-image: url("../images/icon-report.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.profile {
  background-image: url("../images/icon-profile.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.team {
  background-image: url("../images/icon-team.png");
  background-repeat: no-repeat;
}
.menu-list ul label.more {
  background-image: url("../images/icon-more.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.setting {
  background-image: url("../images/icon-setting.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.sale {
  background-image: url("../images/icon-sale.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.instant {
  background-image: url("../images/icon-instant.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.logout {
  background-image: url("../images/icon-logout.svg");
  background-repeat: no-repeat;
}
.menu-list ul label.log {
  background-image: url("../images/icon-log.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=radio],
.menu-list ul [type=checkbox] {
  display: none;
}
.menu-list ul [type=checkbox]:checked ~ label {
  color: #d8a301;
}
.menu-list ul [type=checkbox]:checked ~ label.toggle:after {
  margin-top: -25px;
  background-image: url("../images/icon-arrow-up.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.dashboard {
  background-image: url("../images/icon-dashboard-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.transfer {
  background-image: url("../images/icon-transfer-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.market {
  background-image: url("../images/icon-market-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.report {
  background-image: url("../images/icon-report-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.profile {
  background-image: url("../images/icon-profile-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.team {
  background-image: url("../images/icon-team-on.png");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.more {
  background-image: url("../images/icon-more-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.setting {
  background-image: url("../images/icon-setting-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.sale {
  background-image: url("../images/icon-sale-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.instant {
  background-image: url("../images/icon-instant-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.logout {
  background-image: url("../images/icon-logout-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label.log {
  background-image: url("../images/icon-log-on.svg");
  background-repeat: no-repeat;
}
.menu-list ul [type=checkbox]:checked ~ label ~ .content {
  height: auto;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.side-menu {
  width: 250px;
  height: calc(100vh - 50px);
  left: 0;
  top: 50px;
  position: fixed;
  overflow: auto;
  z-index: 100;
  background-color: #e9e9e9;
}
.side-menu .main-block {
  padding: 15px 0;
  text-align: center;
  height: 150px;
}
.side-menu .main-block .user-pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.side-menu .main-block .user-pic img {
  width: 100%;
  height: 100%;
  display: block;
}
.side-menu .main-block .account-name {
  font-size: 15px;
  margin: 10px 0;
}
.side-menu .main-block .cash {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0;
  color: #4a4a4a;
}
.side-menu .main-block .cash .currency {
  font-size: 12px;
  padding: 3px;
  border: 1px #4a4a4a solid;
  margin-left: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.side-menu .qnav {
  width: 80%;
  padding: 0 10%;
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-menu .qnav .gnav-item {
  flex: 1;
  height: 35px;
  width: 35px;
  line-height: 35;
  background-size: auto 70%;
  background-position: center;
  position: relative;
  cursor: pointer;
}
.side-menu .qnav .gnav-item.user {
  background-image: url("../images/icon-profile.svg");
  background-repeat: no-repeat;
}
.side-menu .qnav .gnav-item.group {
  background-image: url("../images/icon-group.png");
  background-repeat: no-repeat;
}
.side-menu .qnav .gnav-item.mail {
  background-image: url("../images/icon-mail.png");
  background-repeat: no-repeat;
}
.side-menu .qnav .gnav-item.notice-new:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  right: 28%;
  top: 5px;
  background-color: #edc23e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.side-menu .contact-qr {
  background-color: #efefef;
  width: 100%;
  padding: 10px 0 20px;
  text-align: center;
  color: #9b9b9b;
}
.side-menu .contact-qr h5 {
  font-size: 13px;
  line-height: 3;
}
.side-menu .contact-qr img {
  width: 120px;
  display: block;
  margin: auto;
}

.right-frame {
  position: absolute;
  top: 50px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 50px);
}

.wrapper {
  position: relative;
  margin: 10px 30px 50px;
}
.wrapper h2 {
  color: #5e5e5e;
  font-size: 18px;
  line-height: 40px;
  border-bottom: #bebebe 1px solid;
  margin-top: 10px;
}
.wrapper table {
  width: 100%;
  background-color: #f8f8f8;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 10px;
}
.wrapper table td {
  height: 20px;
}
.wrapper table td h3 {
  font-weight: bold;
}
.wrapper table .uid {
  cursor: pointer;
}
.wrapper table .text-red {
  color: #d0021b !important;
  font-weight: bold;
}
.wrapper table .text-green {
  color: #30944d !important;
  font-weight: bold;
}
.wrapper table .align-right {
  text-align: right !important;
}
.wrapper table .align-center {
  text-align: center !important;
}
.wrapper table .table-head-gold {
  background-color: #edc23e !important;
}
.wrapper table .table-head-dgray {
  background-color: #5e5e5e !important;
  color: #efefef !important;
}
.wrapper table .table-head-white {
  background-color: #fff !important;
  color: #5e5e5e;
}
.wrapper table thead .table-head {
  color: #4a4a4a;
  font-weight: bold;
}
.wrapper table thead .table-head .summary-list li {
  display: inline-block;
  margin-right: 15px;
  line-height: 35px;
}
.wrapper table thead .table-head .summary-list li b {
  font-weight: bold;
  color: #d8a301;
}
.wrapper table thead .table-head .date {
  color: #fff;
}
.wrapper table thead th {
  border-bottom: 1px solid #bebebe;
  white-space: nowrap;
}
.wrapper table tbody th {
  font-weight: bold;
}
.wrapper table .btn {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  width: 50px;
  font-size: 12px;
  margin: 0 3px;
  color: #4a4a4a;
  box-shadow: 0 0 0 #000;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wrapper table .btn.date {
  background: transparent;
}
.wrapper table.table-announce tr td:nth-of-type(2) {
  color: #d8a301;
}
.wrapper table .show-htable table {
  position: absolute;
  margin-top: -20px;
  margin-left: 20px;
  width: auto !important;
  display: none;
  box-shadow: 0 2px 5px rgba(50, 50, 50, 0.4);
}
.wrapper table .toggle-list .arrow {
  width: 15px;
  height: 15px;
  display: block;
  margin: auto;
  background-position: center;
  background-size: 100% auto;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
}
.wrapper table .toggle-list + tbody {
  position: absolute;
  height: 0;
  overflow: hidden;
}
.wrapper table .toggle-list.open .arrow {
  background-image: url("../images/icon-arrow-up.svg");
  background-repeat: no-repeat;
}
.wrapper table .toggle-list.open + tbody {
  position: relative;
  border-bottom: 1px solid #bebebe;
}
.wrapper table .level {
  font-size: 11px;
  width: 30px;
  text-align: center;
  display: inline-block;
  line-height: 16px;
  position: relative;
  color: #fff;
  background-color: #ccc;
  margin-right: 5px;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.wrapper table .level:after {
  content: "";
  border-top: solid transparent 8px;
  border-bottom: solid transparent 8px;
  border-left: solid #ccc 8px;
  position: absolute;
  right: -8px;
}
.wrapper table .level.lv-hse {
  background-color: #FB7E7F;
}
.wrapper table .level.lv-hse:after {
  border-left: #FB7E7F solid 8px;
}
.wrapper table .level.lv-sm {
  background-color: #FDA964;
}
.wrapper table .level.lv-sm:after {
  border-left: #FDA964 solid 8px;
}
.wrapper table .level.lv-m {
  background-color: #3AC58F;
}
.wrapper table .level.lv-m:after {
  border-left: #3AC58F solid 8px;
}
.wrapper table .level.lv-ma {
  background-color: #1B64FB;
}
.wrapper table .level.lv-ma:after {
  border-left: #1B64FB solid 8px;
}
.wrapper table .level.lv-a {
  background-color: #7783A7;
}
.wrapper table .level.lv-a:after {
  border-left: #7783A7 solid 8px;
}
.wrapper table .level.lv-pl {
  background-color: #9F85BE;
}
.wrapper table .level.lv-pl:after {
  border-left: #9F85BE solid 8px;
}
.wrapper table .level.lv-sub {
  background-color: #71D2FF;
}
.wrapper table .level.lv-sub:after {
  border-left: #71D2FF solid 8px;
}
.wrapper table .toggle {
  position: relative;
}
.wrapper table .toggle i {
  width: 12px;
  height: 12px;
  display: block;
  background-size: 100%;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 5px;
  cursor: pointer;
}
.wrapper table .toggle.collapse i {
  background-image: url("../images/icon-arrow-up.svg");
  background-repeat: no-repeat;
}
.wrapper table .toggle.expand i {
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
}
.wrapper table .sum {
  background-color: #dadada;
}
.wrapper table .sum td {
  font-weight: bold;
  color: #333;
}
.wrapper table hr {
  width: 15px;
  display: inline-block;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.wrapper table .search-input {
  border: 0;
  padding: 2px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.wrapper table .search-input:focus {
  outline: none;
}
.wrapper table .status {
  width: 15px;
  height: 15px;
  display: block;
  margin: auto;
  background-size: 100%;
}
.wrapper table .status.st-open {
  background-image: url("../images/status-open.svg");
  background-repeat: no-repeat;
}
.wrapper table .status.st-close {
  background-image: url("../images/status-close.svg");
  background-repeat: no-repeat;
}
.wrapper table .status.st-lock {
  background-image: url("../images/status-lock.svg");
  background-repeat: no-repeat;
}
.wrapper table .status.st-suspend {
  background-image: url("../images/status-suspend.svg");
  background-repeat: no-repeat;
}
.wrapper .pure-left table {
  width: calc(100% - 10px);
}

.hotkey {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: 100%;
  cursor: pointer;
}
.hotkey.hk-info {
  background-image: url("../images/icon-info.png");
  background-repeat: no-repeat;
}
.hotkey.hk-percent {
  background-image: url("../images/icon-percent.svg");
  background-repeat: no-repeat;
}
.hotkey.hk-receipt {
  background-image: url("../images/icon-receipt.png");
  background-repeat: no-repeat;
}
.hotkey.hk-trans {
  background-image: url("../images/icon-trans.png");
  background-repeat: no-repeat;
}

.round-button {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  text-align: center;
  border: #edc23e 1px solid;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edc23e), to(#c8a43f));
  background-image: -webkit-linear-gradient(top, #edc23e, #c8a43f);
  background-image: -moz-linear-gradient(top, #edc23e, #c8a43f);
  background-image: -ms-linear-gradient(top, #edc23e, #c8a43f);
  background-image: -o-linear-gradient(top, #edc23e, #c8a43f);
  background-image: linear-gradient(to bottom, #edc23e, #c8a43f);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#edc23e', EndColorStr='#c8a43f');
  box-shadow: inset 0 1px 1px 0 #ffffff;
  border: solid 1px #edc23e;
  color: #fff;
  font-size: 14px;
  line-height: 35px;
  margin: 10px auto 0;
  padding: 0;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.btn.cancel {
  background: #d8d8d8;
  box-shadow: inset 0 1px 1px 0 #ffffff;
  border: solid 1px #bebebe;
  color: #5e5e5e;
}
.btn.cancel:focus {
  border: solid 1px #bebebe;
  background: #bebebe;
}
.btn.small {
  width: 70px;
  margin: 0 8px;
}
.btn:focus {
  box-shadow: inset 0 0 0 0 #ffffff;
  background: #c8a43f;
  border: solid 1px #c8a43f;
  outline: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.round {
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
.slider.round:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #edc23e;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2966b2;
}
input:checked + .slider:before {
  -moz-transform: translateX(12px);
  -ms-transform: translateX(12px);
  -webkit-transform: translateX(12px);
  transform: translateX(12px);
}

.status-item {
  height: 20px;
  width: 20px;
  line-height: 20px;
  display: inline-block;
  color: #d8d8d8;
  border: 1px solid #d8d8d8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.status-item.status-item-up {
  color: #7ed321;
  border-color: #7ed321;
}
.status-item.status-item-down {
  color: #f54828;
  border-color: #f54828;
}
.status-item.status-item-odd {
  color: #4a90e2;
  border-color: #4a90e2;
}
.status-item.status-item-even {
  color: #f89b36;
  border-color: #f89b36;
}
.status-item.status-item-big {
  color: #a36ed2;
  border-color: #a36ed2;
}
.status-item.status-item-small {
  color: #fccf4a;
  border-color: #fccf4a;
}

.page-info {
  font-size: 13px;
  line-height: 20px;
  margin: 10px 0;
}
.page-info .pagenation {
  text-align: right;
}

.pagenation li {
  display: inline-block;
  margin: 2px;
}
.pagenation li a {
  color: #5e5e5e;
  text-decoration: none;
  display: block;
  font-size: 15px;
}
.pagenation li a:hover {
  color: #edc23e;
}
.pagenation li a.current {
  color: #edc23e;
  font-weight: bold;
}
.pagenation li .step {
  border: 1px #5e5e5e solid;
  box-sizing: border-box;
  line-height: 19px;
  width: 20px;
  padding: 0;
  text-align: center;
  font-size: 11px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.pagenation li .step:hover {
  border: 1px solid #edc23e;
}

.qr-code {
  width: 280px;
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.qr-code img {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}
.qr-code .msg {
  font-size: 13px;
  line-height: 22px;
  color: #5e5e5e;
  margin-top: 50px;
}
