@import compass/reset
@import compass/css3
@import mixin


@import layout/table
@import layout/grid
@import layout/grid-rwd

body
	+bg(background,jpg)
	background-repeat: repeat
	font-family: 'Noto Sans', sans-serif, Heiti SC
	color: $font-color
header
	height: 50px
	width: 100%
	background-color: #f8f8f8
	text-align: center
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 1
	.logo
		+bg(logo,svg)
		position: absolute
		width: 35px
		height: 35px
		top: 7.5px
		left: 20px
		background-position: center
		background-size: 100% auto
	.time-lang
		line-height: 50px
		font-size: 12px
		text-align: right
		margin-right: 10px
		div
			display: inline-block
			margin: 0 10px
			vertical-align: top
		.time
			font-size: 11px
		.lang-list
			+border-radius(3px)
			position: relative
			border: solid 1px $font-color
			line-height: 30px
			padding: 0 10px
			box-sizing: border-box
			text-align: left
			width: 90px
			margin-top: 10px
			cursor: pointer
			overflow: hidden
			display: inline-block
			background-color: #f8f8f8
			&:hover
				height: 180px
			ul
				position: absolute
				line-height: 30px
				li:hover
					color: #000

			.icon-arrow-down
				width: 12px
				height: 12px
				float: right
				margin-top: 8px
				+bg(icon-arrow-down,svg)
				background-size: 100%
				background-position: center bottom
		.btn
			display: inline-block
			width: 90px
			margin: 8px 0
			height: 32px
			line-height: 32px

.login-form
	position: absolute
	top: 50%
	left: 50%
	background-color: #FFF
	width: 400px
	border: solid 1px #bebebe
	+transform(translateX(-50%) translateY(-50%))
	display: block
	.login-head
		background-color: $primary-color
		color: $font-color
		font-size: 13px
		line-height: 30px
		text-indent: 10px
	.logon-input
		width: 60%
		position: relative
		margin: 30px auto 50px
		input[type=text],
		input[type=password]
			font-size: 15px
			line-height: 30px
			background-color: transparent
			border: 0 
			border-bottom: solid 1px #5e5e5e
			margin: 10px 0
			width: 100%
			background-size: auto 25px
			background-position: 3px center
			text-indent: 35px
			-webkit-appearance: none
			&:focus
				outline: none
		input[name=username]
			+bg(icon-profile,svg)
		input[name=pass]
			+bg(icon-password,png)
		input[name=captcha]
			+bg(icon-shield,svg)
			width: calc(100% - 130px)
		input[name=phone]
			+bg(icon-phone,png)
		.promote
			line-height: 2
		.captcha
			input,
			img
				display: inline-block
				vertical-align: middle
			img
				width: 120px
.menu-list
	margin: 10px 0
	min-height: calc(100vh - 475px)
	li
		font-size: 15px
		line-height: 40px
		background-size: 25px 25px
		background-position: 8px center
		width: 80%
		position: relative
		margin: auto
		a
			width: 100%
			text-decoration: none
			text-indent: 40px
			display: block
			position: relative
			color: $font-color			
			&:hover
				color: $darker-color
		&.dashboard
			+bg(icon-dashboard,svg)
		&.transfer
			+bg(icon-transfer,svg)
		&.market
			+bg(icon-market,svg)
		&.report
			+bg(icon-report,svg)
		&.profile
			+bg(icon-profile,svg)
		&.team
			+bg(icon-team,png)
		&.more
			+bg(icon-more,svg)
		&.setting
			+bg(icon-setting,svg)
		&.sale
			+bg(icon-sale,svg)
		&.logout
			+bg(icon-logout,svg)
		&.log
			+bg(icon-log,svg)
		&:hover,
		&.active
			a
				color: $darker-color
			&.dashboard
				+bg(icon-dashboard-on,svg)
			&.transfer
				+bg(icon-transfer-on,svg)
			&.market
				+bg(icon-market-on,svg)
			&.report
				+bg(icon-report-on,svg)
			&.profile
				+bg(icon-profile-on,svg)
			&.team
				+bg(icon-team-on,png)
			&.more
				+bg(icon-more-on,svg)
			&.setting
				+bg(icon-setting-on,svg)
			&.sale
				+bg(icon-sale-on,svg)
			&.logout
				+bg(icon-logout-on,svg)
			&.log
				+bg(icon-log-on,svg)
.side-menu
	width: 250px
	height: calc(100vh - 50px)
	left: 0
	top: 50px
	position: fixed
	overflow: auto
	z-index: 100
	background-color: #e9e9e9
	.main-block
		padding: 15px 0
		text-align: center
		height: 150px
		.user-pic
			width: 100px
			height: 100px
			overflow: hidden
			position: relative
			margin: auto
			+border-radius(50%)
			img
				width: 100%
				height: 100%
				display: block
		.account-name
			font-size: 15px
			margin: 10px 0
		.cash
			font-size: 15px
			font-weight: bold
			margin: 10px 0
			color: #4a4a4a
			.currency
				font-size: 12px
				padding: 3px
				border: 1px #4a4a4a solid
				margin-left: 5px	
				+border-radius(5px)
	.qnav
		width: 80%
		padding: 0 10%
		background-color: #efefef
		display: flex
		justify-content: space-between
		align-items: center
		.gnav-item
			flex: 1
			height: 35px
			width: 35px
			line-height: 35
			background-size: auto 70%
			background-position: center
			&.user
				+bg(icon-profile,svg)
			&.group
				+bg(icon-group,png)
			&.mail
				+bg(icon-mail,png)
	.contact-qr
		background-color: #efefef
		width: 100%
		padding: 10px 0 20px
		text-align: center
		color: #9b9b9b
		h5
			font-size: 13px
			line-height: 3
		img
			width: 120px
			display: block
			margin: auto

.wrapper
	position: relative
	top: 50px
	left: 260px
	width: calc(100% - 290px)
	padding: 10px
	h2
		color: $font-color
		font-size: 18px
		line-height: 40px
		border-bottom: #bebebe 1px solid
		margin-top: 10px
	table
		width: 100%
		background-color: #f8f8f8
		font-size: 13px
		margin-top: 10px
		td
			height: 13px	
		thead
			.table-head
				color: #4a4a4a
				font-weight: bold
				&.table-head-gold
					background-color: #edc23e
		&.table-announce
			tr
				td:nth-of-type(2)
					color: $darker-color
	.pure-left
		table
			width: calc(100% - 10px)


.btn
	text-align: center
	+linear-gradient(#edc23e,#c8a43f)
	box-shadow: inset 0 1px 1px 0 #ffffff
	border: solid 1px #edc23e
	color: #fff
	font-size: 14px
	line-height: 35px
	margin: 10px auto 0
	padding: 0
	-webkit-appearance: none
	display: block
	width: 100%
	+border-radius(5px)
	&.cancel
		background: #d8d8d8
		box-shadow: inset 0 1px 1px 0 #ffffff
		border: solid 1px #bebebe
		color: #5e5e5e
		&:focus
			border: solid 1px #bebebe
			background: #bebebe
	&.small
		width: 70px
		margin: 0 8px
	&:focus
		box-shadow: inset 0 0 0 0 #ffffff
		background: #c8a43f
		border: solid 1px #c8a43f
		outline: none




.slider
	position: absolute
	cursor: pointer
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #ccc
	-webkit-transition: .4s
	transition: .4s
	&:before
		position: absolute
		content: ''
		height: 15px
		width: 15px
		left: 2px
		bottom: 2px
		background-color: white
		-webkit-transition: .4s
		transition: .4s
	&.round
		+border-radius(18px)
		&:before
			+border-radius(50%)

input
	&:checked + .slider
		background-color: #edc23e
	&:focus + .slider
		box-shadow: 0 0 1px #2966b2
	&:checked + .slider:before
		+transform(translateX(12px))
	
.qr-code
	width: 280px
	position: absolute
	top: 20%
	left: 50%
	text-align: center
	+transform(translateX(-50%))
	img
		width: 200px
		height: 200px
		display: block
		margin: auto
	.msg
		font-size: 13px
		line-height: 22px
		color: #5e5e5e
		margin-top: 50px






