@import compass/reset
@import compass/css3
@import mixin

body
	+bg(background,jpg)
	background-repeat: repeat
	font-family: 'Noto Sans', sans-serif, Heiti SC
	color: $font-color
header
	height: 50px
	width: 100%
	background-color: #f8f8f8
	text-align: center
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 1
	.logo
		+bg(logo,svg)
		position: absolute
		width: 40px
		height: 40px
		top: 5px
		left: 20px
		background-position: center
		background-size: 100% auto
	.time-lang
		line-height: 50px
		font-size: 12px
		text-align: right
		margin-right: 10px
		div
			display: inline-block
			margin: 0 10px
			vertical-align: top
		.time
			font-size: 11px
		.lang-list
			+border-radius(3px)
			position: relative
			border: solid 1px $font-color
			line-height: 30px
			padding: 0 10px
			box-sizing: border-box
			text-align: left
			width: 90px
			margin-top: 10px
			cursor: pointer
			overflow: hidden
			background-color: #f8f8f8
			&:hover
				height: 180px
			ul
				position: absolute
				line-height: 30px
				li:hover
					color: #000

			.icon-arrow-down
				width: 12px
				height: 12px
				float: right
				margin-top: 8px
				+bg(icon-arrow-down,svg)
				background-size: 100%
				background-position: center bottom

.login-form
	position: absolute
	top: 50%
	left: 50%
	background-color: #FFF
	width: 400px
	border: solid 1px #bebebe
	+transform(translateX(-50%) translateY(-50%))
	display: block
	.login-head
		background-color: $primary-color
		color: $font-color
		font-size: 13px
		line-height: 30px
		text-indent: 10px
	.logon-input
		width: 60%
		position: relative
		margin: 30px auto 50px
		input[type=text],
		input[type=password]
			font-size: 15px
			line-height: 30px
			background-color: transparent
			border: 0 
			border-bottom: solid 1px #5e5e5e
			margin: 10px 0
			width: 100%
			background-size: auto 25px
			background-position: 3px center
			text-indent: 35px
			-webkit-appearance: none
			&:focus
				outline: none
		input[name=username]
			+bg(icon-profile,svg)
		input[name=pass]
			+bg(icon-password,png)
		input[name=captcha]
			+bg(icon-shield,svg)
			width: calc(100% - 130px)
		input[name=phone]
			+bg(icon-phone,png)
		.promote
			line-height: 2
		.captcha
			input,
			img
				display: inline-block
				vertical-align: middle
			img
				width: 120px

.btn
	text-align: center
	+linear-gradient(#edc23e,#c8a43f)
	box-shadow: inset 0 1px 1px 0 #ffffff
	border: solid 1px #edc23e
	color: #fff
	font-size: 14px
	line-height: 35px
	margin: 10px auto 0
	padding: 0
	-webkit-appearance: none
	display: block
	width: 100%
	+border-radius(5px)
	&.cancel
		background: #d8d8d8
		box-shadow: inset 0 1px 1px 0 #ffffff
		border: solid 1px #bebebe
		color: #5e5e5e
		&:focus
			border: solid 1px #bebebe
			background: #bebebe
	&.small
		width: 70px
		margin: 0 8px
	&:focus
		box-shadow: inset 0 0 0 0 #ffffff
		background: #c8a43f
		border: solid 1px #c8a43f
		outline: none




.slider
	position: absolute
	cursor: pointer
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #ccc
	-webkit-transition: .4s
	transition: .4s
	&:before
		position: absolute
		content: ''
		height: 15px
		width: 15px
		left: 2px
		bottom: 2px
		background-color: white
		-webkit-transition: .4s
		transition: .4s
	&.round
		+border-radius(18px)
		&:before
			+border-radius(50%)

input
	&:checked + .slider
		background-color: #edc23e
	&:focus + .slider
		box-shadow: 0 0 1px #2966b2
	&:checked + .slider:before
		+transform(translateX(12px))
	
.qr-code
	width: 280px
	position: absolute
	top: 20%
	left: 50%
	text-align: center
	+transform(translateX(-50%))
	img
		width: 200px
		height: 200px
		display: block
		margin: auto
	.msg
		font-size: 13px
		line-height: 22px
		color: #5e5e5e
		margin-top: 50px






